* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #100f0f;
}

body {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-image: url('https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  position: relative;
  overflow: hidden;
}

form {
  
  background: rgba(255, 255, 255, 0.1);
  background-filter: blur(15px);
  /* background-color: #fff; */
  display: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 40px 30px 30px 30px;
}

.head {
  text-align: center;
  margin-bottom: 20px;
}

/* Purchase */
.head h2 {
  font-weight: 700;
  font-size: 2rem;
}

.head p {
  font-weight: 300;
}

.form-group {
  display: flex;
  flex-direction: column;
}

/* สีหลักช่องกรอกข้อมูล */
input {
  border: none;
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 15px;
  outline: none;
}

/* สีอักษรในช่อง กรอกข้อมูล */
input::placeholder {
  font-style: italic;
  font-size: 90%;
  color: #6a6a6a;
}

/* พืื้นหลังข้อมูล */
input:focus {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(3, 5, 0, 0.12), 0 1px 2px rgba(3, 5, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* ขอบระยะ */
.bio {
  margin: 15px 0;
}

/* BG Submit */
.Submit {
  background-color: #080808;
}

.Submit:hover {
  color: aqua;
}

a{
  color: #fff;
}
a:hover{
  color: #000;
}

/* textColor */
.s {
  color: #fbf6f6;
}

.card {
  width: 28rem;
  background: rgba(255, 255, 255, 0.1);
  background-filter: blur(15px);
}

